.select2-selection,
.selection,
.dropdown-wrapper,
.select2-selection__rendered {
    margin-left: 0 !important;
}

.select2-container {
    width: 100% !important;
}
.select2-container--open {
    max-width: 600px;
    z-index: 1061;
}

.select2-selection {
    border-radius: 4px !important;
    min-height: 38px;
    line-height: 40px;
    font-size: 14px;
    padding-left: 42px;
    border: 1px solid #acbeec;
    background: #fff;
    padding-top: 9px;
}

.select2-selection.select2-selection--single {
    min-height: 38px;
    line-height: 40px;
    font-size: 14px;
    border: 1px solid #acbeec;
    background: #fff;
    padding-top: 5px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #acbeec transparent transparent transparent;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    height: 0;
    left: 50%;
    margin-left: -10px;
    margin-top: 2px;
    position: absolute;
    top: 50%;
    width: 0;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    margin-bottom: 5px !important;
    margin-top: 0px !important;
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #acbeec transparent;
    border-width: 0 4px 5px 4px;
}


.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid #acbeec;
}

.select2-dropdown {
    background-color: white;
    border: 1px solid #acbeec;
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
    position: absolute;
    left: -100000px;
    width: 100%;
    z-index: 1051;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #f1f1f1;
    border: 1px solid #e1e1e1;
    border-radius: 2px;
    line-height: 28px;
    color: #222;
    padding-top: 2px;
}
.select2-selection__choice:hover
{
    border: 1px solid #d3572f !important;
    color: #d3572f !important;
}
.select2-selection__choice:hover .select2-selection__choice__remove{
    color: #d3572f !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    margin-right: 0px;
    margin-left: 0px;
    padding: 0px 4px 0px 2px;
}
/* .select2-container--open .select2-selection.select2-selection--single {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
} */

.input-group .select2-selection__arrow {
    margin-top: 4px
}
.no-icon .select2-selection{
    padding-left: 0px
}


